[submodule "backend"]
	path = backend
	url = https://github.com/Ahmdfdhilah/desa_nuanali_backend
[submodule "cms"]
	path = cms
	url = https://github.com/Ahmdfdhilah/desa_nuanali_cms
[submodule "frontend"]
	path = frontend
	url = https://github.com/Ahmdfdhilah/desa_nuanali_frontend
